.rootTable {
  position: absolute;
  bottom: 33%;
  left: 20%;
  height: 40%;
  width: 55%;
  border: 2px solid rgb(255, 119, 0);
  display: flex;
  flex-direction: column;
}

.row {
  flex: 1;
  display: flex;
}

.slot {
  flex: 1;
  border: 1px solid rgb(55, 205, 210);
}
