.rootTraitHex {
  position: relative;
}

.iconWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon {
  width: 100%;
  height: 100%;
}

.childrenWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

  & > * {
    width: 100%;
    height: 100%;
  }
}
