.rootShop {
  position: absolute;
  bottom: 0;
  left: 13%;
  height: 20%;
  width: 65%;
}

.topBar {
  height: 25%;
  display: flex;
}

.bottomBar {
  height: 75%;
  display: flex;
}

.levelView {
  flex: 1;
}

.topRightBar {
  flex: 5;
  display: flex;
}

.rerollChances {
  flex: 1.7;
}

.goldView {
  flex: 0.6;
}

.topRightBar::after {
  content: '';
  flex: 2.7;
}

.shopActions {
  flex: 1;
}

.shopChampions {
  flex: 5;
}
