@use 'src/assets/styles/theme';

.rootChampionAvatar {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 2px;

  &.isDragging {
    visibility: hidden;
  }
  @each $i, $color in theme.$colorsByTier {
    &.tier#{$i} {
      border-color: $color;
    }
  }
}

.championSplash {
  width: 100%;
  flex: 1;
}

.footer {
  width: 100%;
  display: flex;
  font-size: 14px;
  font-weight: 700;
  padding: 0.3em 0.5em;
  align-items: center;
  justify-content: space-between;
  @include theme.textMain;

  @each $i, $color in theme.$colorsByTier {
    .tier#{$i} & {
      background: linear-gradient(45deg, darken($color, 20%), $color);
    }
  }
}

.name {
}
.cost {
  display: flex;
  align-items: center;
}
.iconCoin {
  width: 14px;
  height: 14px;
  margin-right: 4px;
  color: theme.$colorCoin;
}
