.tft__shop__reroll-chances {
  flex: 3;
  border: 2px solid lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tft__shop__reroll-tier {
  font-weight: 500;
}

.tft__shop__reroll-tier_1 {
  color: grey;
}
.tft__shop__reroll-tier_2 {
  color: #2e7d32;
}
.tft__shop__reroll-tier_3 {
  color: cyan;
}
.tft__shop__reroll-tier_4 {
  color: purple;
}
.tft__shop__reroll-tier_5 {
  color: orange;
}
