@use 'src/assets/styles/theme';

.rootRerollChances {
  flex: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: theme.$colorBackgroundTransparent;
  border-radius: 10px 10px 0 0;
}

.percent {
  font-weight: 500;

  @each $i, $color in theme.$colorsByTier {
    &Tier#{$i} {
      color: $color;
    }
  }
}
