@use 'src/assets/styles/theme';

.rootRerollChances {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: theme.$colorBackgroundTransparent;
  position: relative;
  height: 90%;
  top: 10%;
  @include theme.textMain;
}

.percent {
  font-weight: 500;

  @each $i, $color in theme.$colorsByTier {
    &Tier#{$i} {
      color: lighten($color, 15%);
    }
  }
}
