@use 'src/assets/styles/theme';

.rootSegmentedProgressBar {
  display: flex;
  gap: 1%;
  font-size: 0.6em;
}

.segment {
  flex: 1;
  background-color: theme.$colorControlBackground;
  border-radius: 0.2em;
  transition: width 0.3s ease-in-out;
}

.segmentActive {
  background-color: theme.$colorGlow;
  box-shadow: 0 0 0.1em 0.1em rgba(theme.$colorGlow, 0.3);
}

.segmentMax {
  background-color: theme.$colorControlBackground;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5%,
    theme.$colorGlow 5%,
    theme.$colorGlow 10%
  );
  box-shadow: 0 0 0.1em 0.1em rgba(theme.$colorGlow, 0.15);
}

.segmentSmall {
  flex: 0.5;
}

.segmentActivePartial {
  background: linear-gradient(
    to right,
    theme.$colorGlow 0%,
    theme.$colorGlow 50%,
    theme.$colorControlBackground 50%,
    theme.$colorControlBackground 100%
  );
}
