@use 'src/assets/styles/theme';

.rootTraitStats {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: theme.$colorBackgroundTransparent;
  color: theme.$colorTextDisabled;

  &.activated {
    @include theme.textMain;
  }

  & > *:not(:last-child) {
    margin-right: 0.5em;
  }
}

.traitHex {
  height: 2em;
  max-width: 20%;
}

.traitIcon {
  .activated & {
    color: #000;
  }
}

.amount {
  display: none;
  font-size: 1.25em;
  padding: 0.25em;
  border: 0.1rem solid grey;
  border-radius: 0.15em;
  font-weight: 700;
  .activated & {
    display: block;
  }
}

.activationsWrapper {
  flex: 1;
}

.traitName {
  font-size: 1em;
}

.activations {
  font-size: 0.8em;
}

.threshold {
  font-size: 0.8em;
}
