@use 'src/assets/styles/theme';

.rootTraitStats {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 4px;
  background-color: theme.$colorBackgroundTransparent;
  color: theme.$colorTextDisabled;

  &.activated {
    @include theme.textMain;
  }

  & > *:not(:last-child) {
    margin-right: 8px;
  }
}

.traitHex {
  max-width: 20%;
}

.traitIcon {
  .activated & {
    color: #000;
  }
}

.amount {
  display: none;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 4px;
  font-weight: 700;
  .activated & {
    display: block;
  }
}

.activationsWrapper {
  flex: 1;
}

.traitName {
}

.activations {
}

.threshold {
}
