.rootBench {
  position: absolute;
  bottom: 21%;
  left: 20%;
  height: 10%;
  width: 55%;
  border: 0.1rem solid red;
  display: flex;
  flex-direction: column;

  :global(.tft__is-viewing-enemy) & {
    pointer-events: none;
  }
}

.row {
  display: flex;
  flex: 1;
}

.slot {
  position: relative;
  border: 0.1rem solid purple;
  flex: 1;
}
