@use 'src/assets/styles/theme';

.formItem {
  position: relative;
  overflow: hidden;
}

.formControl {
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  outline: none;
  @include theme.textMain;
  transition: all 0.2s ease-in-out;

  .formItem & {
    font-size: 100%;
    width: 100%;
    height: 100%;
  }
}

input.formControl {
  border: 0.1em solid theme.$colorGlow;
  background-color: theme.$colorUiInnerBorder;
  box-shadow: inset 0 0 0.15em 0.15em theme.$colorUiInnerBorder,
    0 0 0.15em 0.1em rgba(theme.$colorGlow, 0.15);

  &:disabled {
    border-color: desaturate(theme.$colorGlow, 75%);
    color: theme.$colorTextDisabled;
    background-color: theme.$colorControlBackgroundDisabled;
    box-shadow: none;
  }
}

// TODO: custom button styles
button.formControl {
  border: 0.1em solid theme.$colorGlow;
  background-color: theme.$colorUiInnerBorder;
  box-shadow: inset 0 0 0.15em 0.15em theme.$colorUiInnerBorder,
    0 0 0.15em 0.1em rgba(theme.$colorGlow, 0.15);

  &:disabled {
    border-color: desaturate(theme.$colorGlow, 75%);
    color: theme.$colorTextDisabled;
    background-color: theme.$colorControlBackgroundDisabled;
    box-shadow: none;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.label {
  font-size: 0.75em;
  font-style: italic;
  @include theme.textMain;
}

.error {
  display: flex;
  align-items: end;
  min-height: 1.5em;
  font-size: 0.625em;
  @include theme.textMain;
  color: theme.$colorError;
}
