@use 'src/assets/styles/theme';

.form {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 1em;
  gap: 0.5em;

  @include theme.uiBackground;
  @include theme.uiBorderOuterBold(1, 1, 1, 1, 0.25em);

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6 {
    text-align: center;
    @include theme.textMain;
  }
}

.formItem {
  position: relative;
}

.formControl {
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  outline: none;
  border: 0.1em solid theme.$colorControlBorder;
  background-color: theme.$colorControlBackground;
  box-shadow: inset 0 0 0.15em 0.15em theme.$colorUiInnerBorder;
  transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  @include theme.textMain;

  &:focus,
  &:hover {
    border-color: theme.$colorGlow;
    box-shadow: inset 0 0 0.15em 0.15em theme.$colorUiInnerBorder,
      0 0 0.15em 0.1em rgba(theme.$colorGlow, 0.15);
  }

  &:focus {
    background-color: theme.$colorControlBackgroundFocused;
  }

  &:disabled {
    border-color: desaturate(theme.$colorGlow, 75%);
    color: theme.$colorTextDisabled;
    background-color: theme.$colorControlBackgroundDisabled;
    box-shadow: none;
  }

  .formItem & {
    font-size: 100%;
    width: 100%;
  }
}

.formItemInput {
  font-size: 0.75em;
}

// TODO: custom button styles
.formItemButton {
  font-size: 1em;

  &.formControl {
    margin: auto;
  }
}

.label {
  font-size: 0.75em;
  font-style: italic;
  @include theme.textMain;

  .disabled & {
    color: theme.$colorTextDisabled;
  }
}

.asterisk {
  color: theme.$colorError;
}

.error {
  display: flex;
  align-items: end;
  min-height: 1.5em;
  font-size: 0.625em;
  @include theme.textMain;
  color: theme.$colorError;
}
