@use 'src/assets/styles/theme';

.rootShopActions {
  display: flex;
  flex-direction: column;
  @include theme.uiBackground;
  @include theme.uiBorderOuterBold($left: 1, $bottom: 1);

  & > * {
    flex: 1;
    margin: 0.2rem 0.4rem;

    &:first-child {
      margin-top: 0.4rem;
    }
    &:last-child {
      margin-bottom: 0.4rem;
    }
  }
}
