@use 'src/assets/styles/reset';

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000;
}

html * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

#root {
  height: 100%;
  margin: 0 auto;
  position: relative;
  aspect-ratio: 16 / 9;
  background: radial-gradient(ellipse at 50% 50%, #ff6b6b 0%, transparent 40%),
    radial-gradient(ellipse at 60% 70%, #ff95ad 0%, transparent 80%),
    radial-gradient(ellipse at 70% 80%, #fdcbf1 0%, transparent 90%),
    radial-gradient(ellipse at 80% 90%, #a0ced9 0%, transparent 90%),
    radial-gradient(ellipse at 40% 30%, #70a1d7 0%, transparent 70%),
    radial-gradient(ellipse at 30% 20%, #2a5caa 0%, transparent 50%),
    radial-gradient(ellipse at 20% 10%, #031533 0%, transparent 80%),
    radial-gradient(ellipse at 90% 50%, #252a3b 0%, transparent 80%),
    radial-gradient(ellipse at 70% 20%, #0c0e17 0%, transparent 70%),
    radial-gradient(ellipse at 80% 60%, #0e0e13 0%, transparent 80%),
    radial-gradient(ellipse at 10% 40%, #020408 0%, transparent 50%);
}

svg {
  width: 24px;
  height: 24px;
}
