@use 'sass:color';

$colorsByTier: (
  1: #455a64,
  2: #2e7d32,
  3: #1976d2,
  4: #9c27b0,
  5: #ffa000,
);

$colorCoin: #ffe082;
$colorBackgroundBase: #004d40;
$colorUiBackground: darken($colorBackgroundBase, 10%);
$colorUiBackgroundDark: darken($colorUiBackground, 3%);
$colorUiInnerBorder: rgba(lighten($colorBackgroundBase, 15%), 0.3);
$colorUiOuterBorder: darken($colorCoin, 40%);
$colorBackgroundTransparent: rgba($colorUiBackground, 0.5);
$colorBackgroundLight: #006064;
$colorTextMain: #fff;
$colorTextDisabled: #9e9e9e;
$colorControlBackground: #004d40;
$colorControlBackgroundDisabled: desaturate($colorControlBackground, 75%);
$colorControlBackgroundFocused: #00695c;
$colorControlBorder: #009688;
$colorGlow: #84ffff;
$colorError: #f44336;

@mixin textMain {
  color: $colorTextMain;
  text-shadow: 0.05rem 0.05rem 0.05rem #000;
}

@mixin uiInsetBoxShadow {
  box-shadow: inset 0 0 0.15rem 0.15rem $colorUiInnerBorder;
}

@mixin uiBackground {
  background-color: $colorUiBackground;
  @include uiInsetBoxShadow;
}

@mixin uiBorderOuterBold(
  $top: 0,
  $right: 0,
  $bottom: 0,
  $left: 0,
  $borderWidth: 0.3rem
) {
  border-style: ridge;
  border-radius: $borderWidth;
  border-color: $colorUiOuterBorder;
  @if $top != 0 {
    border-top-width: $borderWidth;
  } @else {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  @if $bottom != 0 {
    border-bottom-width: $borderWidth;
  } @else {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  @if $left != 0 {
    border-left-width: $borderWidth;
  } @else {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  @if $right != 0 {
    border-right-width: $borderWidth;
  } @else {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@mixin grabCursor {
  &:not(:disabled) {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }
}
