@use 'src/assets/styles/theme';

.rootLevelView {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
  @include theme.textMain;
  @include theme.uiBackground;
  @include theme.uiBorderOuterBold($top: 1, $left: 1, $right: 1);
}

.labels {
  display: flex;
  align-items: center;
}

.level {
  flex: 1;
  margin-left: 5%;
}

.experience {
  margin-right: 5%;
}

.progressBar {
  margin: 1% 5% 4% 5%;
  min-height: 15%;
}
