@use 'src/assets/styles/theme';

.rootLevelView {
  flex: 1;
  display: flex;
  border-radius: 4px 4px 0 0;
  align-items: center;
  @include theme.textMain;
  @include theme.uiBackground;
  @include theme.uiBorderOuterBold($top: 1, $left: 1, $right: 1);
}

.level {
  flex: 1;
  margin-left: 5%;
}

.experience {
  margin-right: 5%;
}
