@use 'src/assets/styles/theme';

.rootShopChampions {
  position: relative;
  flex: 5;
  @include theme.uiBackground;
}

.slotsWrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.slot {
  flex: 1;
  margin: 0.3%;
}
