.tft__drag-layer {
}

.tft__champion-dropbox {
  display: none;
  position: absolute;
  top: 0;
  bottom: 20%;
  left: 0;
  right: 0;
}

.tft__drag-layer_dragging_champion .tft__champion-dropbox {
  display: block;
}
